body {
  padding: 25px;
  background-color: black;
}
.header {
  color: white;
  font-family: "Red Hat Mono", monospace;
  font-size: 50px;
  font-weight: 500;
  margin: -20px 10px;
}
.level {
  color: #4b70f5;
  font-family: "Red Hat Mono", monospace; 
  font-optical-sizing: auto; 
  font-weight: 450; 
  font-style: normal;
}
.title {
  color: white;
  font-family: "Red Hat Mono", monospace; 
  font-optical-sizing: auto; 
  font-weight: 450; 
  font-style: normal;
}
.about_me-button {
  margin: -8px 10px;
  font-size: 20px;
  background-color: black;
  color: white;
  font-family: "Red Hat Mono", monospace;
  border-width: 1px;
  height: 36px;
  width: 130px;
  border-style: none;
  cursor: pointer;
  float: right;
  transition: color 1s;
  
}
::seletcion{
  color : red;  background-color: blue;
}
.about_me-button:hover {
  color: #4b70f5;
  transition: color 1s;
}
.work-button {
  margin: -8px 10px;
  font-size: 20px;
  background-color: black;
  color: white;
  font-family: "Red Hat Mono", monospace;
  border-style: none;
  height: 36px;
  width: 120px;
  
  cursor: pointer;
  float: right;
  transition: color 1s;
}
.work-button:hover {
  color: #4b70f5;
  transition: color 1s;
}
.resume-button {
  margin: -8px 10px;
  font-size: 20px;
  background-color: black;
  color: white;
  font-family: "Red Hat Mono", monospace;
  border-style: none;
  height: 36px;
  width: 120px;
  
  cursor: pointer;
  float: right;
  transition: color 1s;
}
.resume-button:hover {
  color: #4b70f5;
  transition: color 1s;
}
.project-button {
  margin: -8px 8px;
  font-size: 20px;
  background-color: black;
  color: white;
  font-family: "Red Hat Mono", monospace;
  
  height: 36px;
  width: 120px;
  border-style: none;
  cursor: pointer;
  float: right;
  transition: color 1s;
}
.project-button:hover {
  color: #4b70f5;
  transition: color 1s;
}
.flex-container {
  display: flex;
  background-color: whitesmoke;
  color: black;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}

.flex-container > img {
  background-color: whitesmoke;
  margin: 30px;
  font-size: 50px;
}
